/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* You can add global styles to this file, and also import other style files */
.btn-cyan {
  background-color: #81E1F5;
  color: #001a1a;
}

.btn-yellow {
  background-color: #FFC107;
  color: #001a1a;
}

.cursor {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.spinner {
  color: #81E1F5;
  left: 50%;
  margin-left: -4em;
  text-align: center;
}
